body {
   padding: 0px;
   margin: 0px;
   background-color: #827D78;
   font-size: 10.5pt;
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
}

blockquote {
  font: 14px/22px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

#main {
   margin-left: auto;
   margin-right: auto;
   width: 600px;
   background-color: white;
   border-left: 1px solid #545454;
   border-right: 1px solid #545454;
   border-bottom: 1px solid #545454;
   margin-bottom: 20px;
   padding-bottom: 40px;
}

#body {
   padding-top: 15px;
   padding-left: 40px;
   padding-right: 40px;
}

#top {
   height: 15px;
   background-color: white;
}

#masthead {
   min-height: 200px;
   overflow: hidden;
   color: white;
   margin-left: 15px;
   margin-right: 15px;
   padding-top: 20px;
   padding-bottom: 50px;
   padding-left: 40px;
   padding-right: 40px;
   font-family: 'Open Sans';
   font-weight: 600;
   font-size: 34pt;
   position: relative;
}

#masthead .sharing {
   font-size: 12pt;
   position: absolute;
   bottom: 20px;
   left: 0px;
   right: 10px;
   text-align: right;
}

#masthead .sharing a {
   margin-right: 0.7em;
   text-decoration: none;
   color: #ffffff;
}

#essentials {
   color: #BBBDBD;
}

pre {
   font-family: Monaco, Consolas;
   font-size: 80%;
}

#footer {
   padding-top: 10px;
   padding-bottom: 30px;
   font-style: italic;
}

#copyright {
   padding-left: 40px;
   padding-right: 40px;
   font-size: 75%;
   color: #A0A0A0;
}

#copyright A {
   text-decoration: none;
   border: none;
}

#copyright IMG {
   border: none;
}

span.icon-page {
    display: none;
}

div.buynow {
  margin-top: 30px;
  text-align: justify;
}

.buybutton {
  background-color: #E3AF01;
  color: #FFF;
  text-decoration: none;
  display: block;
  float: right;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.appstore-screen-button {
  text-decoration: none;
  float: left;
  padding-right: 25px;
  padding-bottom: 10px;
}

.appstore-button {
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 10px;
}

.appstore-block {
  display: block;
  padding: 30px 30px 30px 30px;
}
