<div id="top"></div>
<div id="masthead" style="background-image: url('img/banner.jpg'); background-size: cover;" />

<div class="sharing">
  <a target="_blank" rel="nofollow" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A{{site.url}}{{page.url}}"> <i class="fa fa-linkedin"></i></a>
  <a target="_blank" rel="nofollow" href="http://twitter.com/share?text={{page.title}}&amp;url=https%3A{{site.url}}{{page.url}}"><i class="fa fa-twitter"></i></a>
  <a target="_blank" rel="nofollow" href="https://plus.google.com/share?url=https%3A{{site.url}}{{page.url}}"><i class="fa fa-google-plus-square"></i></a>
  <a target="_blank" rel="nofollow" href="http://www.facebook.com/sharer.php?t={{page.title}}&amp;u=https%3A{{site.url}}{{page.url}}"><i class="fa fa-facebook"></i></a>
</div>
</div>