<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=600">
<base href="{{site.url}}" >
<title> {{page.title}} - xebia Essentials</title>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" type="text/css">
<link href="style/style.css" type="text/css" rel="stylesheet">
<style type="text/css"></style>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css">
<link href="/index.html" rel="up">
<link href="/cards" rel="index">
<meta property="og:url" content="{{site.url}}{{page.url}}">
<meta property="og:title" content="{{page.title}}">
<meta content="{{site.name}}" property="og:site_name">
<meta content="website" property="og:type">
<meta content="en_US" property="og:locale">
<meta content="{{site.img}}/XebiaEssentialsCards.jpg" property="og:image">
<meta content="{{site.description}}" property="og:config">
<meta name="apple-itunes-app" content="app-id=883300245, app-argument={{site.url}}{{page.url}}">
